<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mytest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_mark"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".games.GameOneActivity"/>
        <activity android:name=".games.GameFourOnGoingActivity" />
        <activity android:name=".ChooseImage2Activity" />
        <activity android:name=".MakeMusicAlbumActivity" />
        <activity android:name=".MakeAlbumActivity" />
        <activity android:name=".PersonalInfoActivity" />
        <activity
            android:name=".VideoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".GalleryActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".AlbumTemplateActivity" />
        <activity
            android:name=".games.GameTwoActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".games.GameFourActivity" />
        <activity android:name=".MemoryClassifyActivity" />
        <activity android:name=".PushSearchActivity" />
        <activity android:name=".games.GameThreeActivity" />
        <activity android:name=".HtmlActivity" />
        <activity android:name=".AlbumChooseActivity" />
        <activity android:name=".MainActivities.AlbumActivity" />
        <activity android:name=".MainActivities.RelaxActivity" />
        <activity android:name=".MainActivities.PushActivity" />
        <activity android:name=".MainActivities.PostActivity" />
        <activity android:name=".MainActivities.MemoryActivity" />

        <activity android:name=".ExhibitionActivity" />
        <activity android:name=".PersonalSpaceActivity" />
        <activity android:name=".FamilyActivity" />
        <activity android:name=".Make_NoteActivity" />
        <activity android:name=".ChooseImageActivity" />
        <activity android:name=".MemoryUploadActivity" />
        <activity android:name=".NoteEditingActivity" />
        <activity android:name=".NoteActivity" />
        <activity android:name=".LabelPushActivity" />
        <activity android:name=".ImageActivity" />
        <activity android:name=".EventsActivity" />
        <activity android:name=".ScoreMallActivity" />
        <activity android:name=".PersonalActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".xytest.TestActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".WelcomeActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>